* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main {
  height: 1024px;
  background-image: url(./pic/bgi.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__heading {
  width: 750px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 217px;
}
.main__text {
  width: 480px;
  padding-top: 32px;
  padding-bottom: 44px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
}
.main__text--bold {
  font-weight: 700;
}
.main__btn {
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  transition: 0.25s;
}
.main__btn:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
}

.games {
  padding-top: 128px;
  padding-bottom: 128px;
  background: #000915;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.games__block {
  width: 379px;
  height: 300px;
  background-position: center;
  background-size: cover;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  padding: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
.games__block--1 {
  background-image: url(./pic/game1.png);
}
.games__block--2 {
  background-image: url(./pic/game2.png);
}
.games__block--3 {
  background-image: url(./pic/game3.png);
}

.game__block {
  background: #000915;
  padding-top: 233px;
  padding-bottom: 233px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game__block__content--heading {
  width: 100%;
  max-width: 364px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.game__block__content--text {
  width: 100%;
  max-width: 584px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.game__block--img {
  width: 100%;
  max-width: 485px;
}

@media (max-width: 1300px) {
  .center {
    padding-left: calc(50% - 430px);
    padding-right: calc(50% - 430px);
  }
  .game__block__content--text {
    width: 100%;
    max-width: 400px;
  }
  .game__block--img {
    width: 100%;
    max-width: 400px;
  }
}
@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    height: 745px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: -213px center;
  }
  .main__heading {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    width: 100%;
    max-width: 343px;
  }
  .main__text {
    width: 100%;
    max-width: 343px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }
  .games {
    flex-direction: column;
    align-items: center;
  }
  .games__block {
    width: 100%;
    max-width: 343px;
    height: 300px;
  }
  .game__block {
    flex-wrap: wrap;
    gap: 64px;
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .game__block__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game__block__content--heading {
    width: 100%;
    max-width: 265px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .game__block__content--text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    max-width: 343px;
    text-align: center;
  }
  .game__block--img {
    width: 100%;
    max-width: 344px;
    height: 236px;
  }
  .game__block--second {
    order: 2;
  }
}/*# sourceMappingURL=style.css.map */